@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 247, 247, 247; /* Light mode: Very light gray */
    --foreground: 31, 31, 31; /* Light mode: Dark gray */
  }

  .dark {
    --background: 13, 13, 13; /* Dark mode: Deep black */
    --foreground: 237, 237, 237; /* Dark mode: Light gray */
  }

  body {
    @apply bg-background text-foreground;
  }
}

.video-container {
  max-width: 600px; /* Increase the max-width for larger videos */
  margin: 0 auto; /* Center the video containers */
}

.video-card {
  background-color: var(--card-bg-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  width: 100%; /* Ensure the video card takes full width */
  height: auto; /* Maintain the aspect ratio */
}

.video-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.video-card img {
  width: 100%;
  height: 400px; /* Increase the height for larger display */
  object-fit: cover;
}

.description {
  padding: 15px;
  font-size: 16px;
  color: var(--text-color);
}

.show-more {
  color: var(--primary-color);
  cursor: pointer;
  font-weight: bold;
}

