@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 247, 247, 247; /* Light mode: Very light gray */
    --foreground: 31, 31, 31; /* Light mode: Dark gray */
  }

  .dark {
    --background: 13, 13, 13; /* Dark mode: Deep black */
    --foreground: 237, 237, 237; /* Dark mode: Light gray */
  }

  body {
    @apply bg-background text-foreground;
  }
}
